body {
  font-family: sans-serif;
  background-color: #grey;
  color: white;
  padding-left: 22px; 
}

h1 {
  color: #pink;
  text-align: center;
}

pre {
  background-color: #blue;
  padding: 15px;
  width: fit-content;
  border-radius: 10px;
  font-size: 15px;
}
code {
  font-size: 12px;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
