html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #e6f7ff;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  color: #555;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #555;
}

.name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #777;
}

.code {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: monospace;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #999;
}

.block {
  margin: 20px auto;
  max-width: 80%;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #999;
}

.codeblock {
  overflow-x: auto;
}

.codeblock pre, .codeblock code {
  margin: 0;
  padding: 0;
}

.codeblock code {
  display: block;
  white-space: pre-wrap;
}

.koch, .sierpinski, .tree {
  text-align: center;
}
