html {
  font-family: Times;
}

body{
  margin: 0;
  background-color: white;
}

li{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%
}

h1{
  text-align: center;
  margin:auto;
  margin-top: 50px
}

p {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 5%
  line-height: 40px;
}


background {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
  border: thin;
  border-color: black;
}

nav {
  text-align: center;
  background-color: #0000ff;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

currentlinks {
  color: white;
  text-decoration: none;
}

links {
  color: black;
  text-decoration: none;
}
