html {
  font-family: Times;
  background-color: ff4edf;
}

body{
  margin: 0;
}

li {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%
  font-size: 20px;
}

h1{
  text-align: center;
  margin:auto;
  margin-top: 50px
}

alltext {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  margin-bottom: 5%
  line-height: 40px;
  margin-top: 3%;
}


.background {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;

}

.history {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.rules {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.goats {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
nav {
  text-align: center;
  background-color: #3cb371
;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

currentlinks {
  color: white;
  text-decoration: none;
}

links {
  color: black;
  text-decoration: none;
}

link:hover {
  color: white;
}
