html {
}

body{
  margin: 0;
  background-color: white;
}

li{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%
}

h1{
  text-align: center;
  margin:auto;
}

p {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
<<<<<<< HEAD
=======

img {
  display: block;
  width: 70%;
  height: auto;
  margin:auto;
}
>>>>>>> 281bc2bd2bf975aa0160d6c5bafb991635101030
